{% extends "base.html" %}

{% load static %}

{% block title %} Blog detail {% endblock title %}

{% block nav %}

    <div class="flex-banner">
        <div class="navigation">
            <a class="button" href="{% url 'projects:land_page' %}">Home</a>
            <a class="button" href="{% url 'projects:home' %}">Portfolio</a>
            <a class="button" href="{% url 'blog:blog_index' %}">Blog</a>
        </div>
    </div>

{% endblock nav %}

{% block content %}

<div class="blog-flex-posts">
    
    {% if posts %}

        <div class="photo-detail-container">
            {% for category in posts.categories.all %}
                <a href="{% url 'blog:blog_category' category.name %}">
                    <img class="image-blog" src="{% static 'img' %}/{{ category.name }}.png"></a>
                </a>&nbsp;
        </div>
            {% endfor %}
            
        <h1 class="title-detail-area">{{ posts.title }}</h1>
            <code>
            <div class="post-body-detail-area">
                <p class="post-body-detail">{{ posts.body | linebreaks }}</p>
            </div>
            </code>
    {% endif %}
</div>

{% endblock content %}
    