{% extends "projects/base.html" %}

{% load static %}

{% block title %} Portfolio Homepage {% endblock title %}

{% block content %}

            <div class="flex-posts">

            {% for project in projects_found %}

                <div class="one-post">
                    <div class="title">
                        <h2>{{ project.title }}</h2>
                    </div>

                    <div class="post_image">
                        <img class="image" src="{{project.image}}" width=229px height=235px>
                        {% comment %} <img class="image" src="{% static project.image %}" width=229px height=235px> {% endcomment %}
                        {% comment %} <img class="image" src="{% static 'projects/images/liveit.png' %}" width=229px height=235px> {% endcomment %}
                    </div>
                    
                    <div class=tags>
                        <h4>Tags</h4>
                    </div>
                    
                    <div class="body">
                        <p> Lopsum zkejnrkzjen</p>
                    </div>
                </div>
            {% endfor %}
             </div>

     {%endblock content%}