{% extends "base.html" %}

{% load static %}

{% block title %} Portfolio Homepage {% endblock title %}

    {% block nav %}
        <div class="flex-banner">
            <div class="navigation">
                <a class="button" href="{% url 'projects:land_page' %}">Intro</a>
                <a class="button">Search</a>
                <a class="button">Contact</a>
            </div>
        </div>
    {% endblock nav %}
    
{% block content %}

            <div class="flex-posts">

            {% for project in projects_found %}

                <div class="one-post">
                    <div class="title">
                        <h2>{{ project.title }}</h2>
                    </div>

                    <div class="post_image">
                        <a href="{% url 'projects:detail' project.id %}">
                        <img class="image-project" src="{{project.image}}">
                        </a>
                    </div>
                    
                    <div class=div_tags>
                        {% for tag in project.tag.all %}
                            <span class="tags">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    
                    <div class="body-container">
                        <p class="project-body">{{ project.sub_title }}
                        <span><a class ="click-content" href="{% url 'projects:detail' project.id %}"> More...</a></span></p>
                    </div>

                    
                </div>
            {% endfor %}
             </div>

     {%endblock content%}