<!DOCTYPE  html>

{% load static %}

<html lang="en">

    {% block head %}
        <head>
            <meta charset="utf-8" />
            <link href="{% static 'css/styles.css' %}" rel="stylesheet">
            <!--encodage qui permet d'écrire tout les caractères du monde-->
            <title>{% block title %} {% endblock title%}</title>
        </head>
    {% endblock head %}

    <body>

    {% block nav %}
    <div class="flex-banner">
        <div class="navigation">
            <a class="button" href="{% url 'projects:land_page' %}">Home</a>
            <a class="button" href="{% url 'projects:home' %}">Portfolio</a>
            <a class="button" href="{% url 'blog:blog_index' %}">Blog</a>
        </div>
    </div>
    {% endblock nav %}
    
    {%block header%}
        <header>
            <div class="header">
                <h1> My dear diary, </h1>
                <p>From a Python Developer</p>
            </div>
    </header>
    {% endblock header %}

    {% block content %}
        {% comment %} Section for content here {% endcomment %}
     {% endblock content %}
        

    {% block footer %}
        <footer> 
            <div class="footer-home">
                <p>The website is made with framework Django 3.2 - Hosted at Digital Ocean</p>
                    <a href="https://github.com/jonathanreveille">GitHub</a>
                    <a href="https://www.linkedin.com/in/jonathan-r%C3%A9veill%C3%A9/">LinkedIn</a>
                    <a>CV</a>
            </div>
        </footer>
    {% endblock footer %}
    
</body>
</html>